.header {
  position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 15;
display: flex;
justify-content: space-between;
margin-right: auto;
margin-left: auto;
max-width: 1224px;

&__menu {
  @extend %body-1;
  padding: 12px;
}
}

.logo {
  @extend %body-1;
  a{
    display: block;
    padding: 12px;
    color: blue;
  }
}
.nav {
  a {
    padding: 12px;
    color: black;
    text-decoration: none;
    &:hover {
        color: grey;
    text-decoration: none;
    }
  }
}