.main {
  padding: 0 16px;

  .headline {
    font-weight: 700;
    font-size: 64px;
    color: blue;
  }
}

.bio {
  padding-top: 5vw;
  max-width: 600px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  div {
    width: 295px;
    padding: 12px;
    img {
      width: 100%;
    }
  }
}