.main {
  padding: 60px 16px 0;

  .headline {
    font-weight: 700;
    font-size: 64px;
    color: blue;
  }
}

.bio {
  padding-top: 5vw;
  max-width: 600px;
}

.gallery {
  margin-right: auto;
margin-left: auto;
padding-right: 8px;
padding-left: 8px;
max-width: 1224px;
width: 2000px;
height: 2000px;
  div {
    width: 295px;
    padding: 12px;
    display: inline-block;
    img {
      width: 100%;
    }
  }
}