

.header__menu {
  color: black;
}

.mobile-menu {
  background-color: blue;
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
  display: none;
  top: 0;
 
  z-index: 991;

  overflow-y: auto;
  //height: 100vh;
  overflow-x: hidden;
  .container {
  }
  &__body {
    padding-top: 30px;
  }
  &__nav {
    padding-left: 0;

    li {
      text-align: center;
      margin: 20px;
      padding: 20px;
      @extend %menu-item;
      list-style-type: none;
      a {
        color: white;
        padding: 12px;
      }
      a:hover {
        color: $primary-dark;

      }
    }
  }
  &.is-open {
    display: block;
    #close-menu, .logo a {
      color: white;
      &:hover {
        color: $primary-dark;

      }
    }
  }
}
.no-scroll {

  position: static;
  height: 100vh;
  overflow: hidden;
}
#open-menu {
  &:hover {
    color: $color---primary;
  }
}
.logo a {
  &:hover {
    color: $primary-dark;
  }
}