// Typography
//
//markup:
//<div class="{$modifiers}">[ {$modifiers} ] Phasellus interdum massa ante, ac placerat felis ultricies at.</div>
//
// .display-5 - duzy tekst
// .display-4 - duzy tekst
// .display-3 - duzy tekst
// .display-2 - duzy tekst
// .display-1 - duzy tekst
// .headline - tekst
// .title - tekst
// .subheading - tekst
// .body-2 - tekst
// .body-1 - tekst
// .caption - tekst
// .button - tekst
//
// Styleguide 1.2





$serif: 'Times New Roman', Times, serif;
$sans-serif: 'PxGroteskRegular', Helvetica-Neue, Helvetica, Arial, sans-serif;


%display-5 {
  font-family: $sans-serif;
  font-size: 44px;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $grey--900;
  @media #{$small} {

    font-size: 90px;
  }

}

%display-4 {
  font-family: $sans-serif;
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  @media #{$small} {

    font-size: 72px;
  }
}

%display-3 {
  font-family: $sans-serif;
  font-size: 28px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
}

%display-2 {
  font-family: $sans-serif;
  font-size: 36px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
}

%display-1 {
  font-family: $sans-serif;
  font-size: 32px;
  font-style: normal;
  font-stretch: normal;
  color: $color---primary;

}

%headline {
  font-family: $sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: $grey--900;
}

%title {
  font-family: $sans-serif;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  //letter-spacing: 2px;
  line-height: 1.44;
 // color: $grey--900;
}

%subheading {
  font-family: $sans-serif;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
 // letter-spacing: 2px;
  color: $grey--950;

}

%body-2 {
  font-family: $sans-serif;

  font-size: 9px;
}

%body-1 {
  font-family: $sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  color: $grey--950;
}

%caption {
  font-family: $sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $grey--950;
}
%note {
  font-family: $sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: $grey--950;
}

%button {
  font-family: $sans-serif;
  font-size: 14px;
}

%menu-item {
  
  @extend %headline;

  @media #{$medium} {
  font-size: 40px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  }
}