// html
//
//  HTML elements unclassed
//
// Styleguide 4.1

:root {
  font-size: 16px;
}

html, body {
  @extend %body-1;
}


:focus {
   outline: 4px dashed $color---accent;
 }
p a:hover {
  border-bottom: 1px solid grey;
}
b,
strong {
  font-weight: 400;
}

::selection{
  background: blue;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: blue;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: blue;
  color: #fff;
  text-shadow: none;
}

